VITE_DESK_URL=https://macro.desk.blip.ai
VITE_API_BASE_URL=https://sua-api.com
VITE_CUSTOMER_ENDPOINT=/customer
VITE_SCHEDULE_ENDPOINT=/schedule
VITE_ATTACHMENTS_ENDPOINT=/attachments
VITE_UPLOAD_ENDPOINT=/attachments/upload
VITE_PROTOCOL_ENDPOINT=/protocol
VITE_USE_MOCK=true
